/* .transito a{
    color: #fff;
    text-decoration: none;
}
  .transito{
      font-size: 18px!important;
  }

.transito .container .row{
    padding-top: 30px;
  }
  
  .transito .container .row{
    height: 500px;
  } */